<div class="sidebar col-md-3 col-sm-5">
    <ul class="list-group margin-bottom-25 sidebar-menu">

        <!-- ÁO BEGIN -->
        <li class="list-group-item clearfix dropdown">
            <a href="javascript:void(0);" class="collapsed">
                <i class="fa fa-angle-right"></i>
                Áo

            </a>
            <ul class="dropdown-menu">
                <li><a href="~/customer/tops"><i class=""></i>Áo Thun</a></li>
                <li><a href="~/customer/tops"><i class=""></i> Áo Polo</a></li>
                <li><a href="~/customer/tops"><i class=""></i> Áo Sơ Mi</a></li>
                <li><a href="~/customer/tops"><i class=""></i> Áo Len</a></li>
            </ul>
        </li>
        <!-- ÁO END -->
        <!-- QUẦN BEGIN-->
        <li class="list-group-item clearfix dropdown">
            <a href="javascript:void(0);" class="collapsed">
                <i class="fa fa-angle-right"></i>
                Quần

            </a>
            <ul class="dropdown-menu">
                <li><a href="~/customer/bottom"><i class=""></i>Quần Sort</a></li>
                <li><a href="~/customer/bottom"><i class=""></i> Quần Chino</a></li>
                <li><a href="~/customer/bottom"><i class=""></i> Quần Jeans</a></li>
            </ul>
        </li>
        <!-- QUẦN END-->
        <!-- PHỤ KIỆN BEGIN-->
        <li class="list-group-item clearfix dropdown">
            <a href="javascript:void(0);" class="collapsed">
                <i class="fa fa-angle-right"></i>
                Phụ kiện

            </a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class=""></i>Khẩu trang</a></li>
            </ul>
        </li>
        <!-- PHỤ KIỆN END-->
    </ul>
</div>